# Copyright (c) 2021-2023 Koji Hasegawa.
# This software is released under the MIT License.

name: Update draft release

on:
  push:
    branches:
      - master

permissions: write-all
jobs:
  release-drafter:
    runs-on: ubuntu-latest

    steps:
      - uses: release-drafter/release-drafter@v5
        with:
          config-name: release-drafter.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
